{% extends 'base.html' %}

{% block content %}
<h1>Campus Cravings</h1>
h1 color: red; font-size:45px
<p style="color: rgb(221, 34, 50); 
font-family: Arial;">Campus Cravings was created for UP students to help other students find a good place to eat based on budget, type and location of food shops.
</p>
<restaurant_id html>
 <html>restaurant_id</html>  
 <location></location> 
<meta charset:"UTF-8"
<C></title>Web Design & CSS in 30 Seconds (or so)<title>
    <div id="link">Campus Cravings was created for UP students to help other students find a good place to eat based on budget, type and location of food shops.
</p></div>
<link href="in-30-layout.css" rel="stylesheet" type="textcss">
body {background-color:lightblue; text-align:center;}
<style>
#p1 {background-color: rgba(255,0,0,0.3);}
#p2 {background-color: rgba(red, green, blue, alpha)}
#p3 {background-color: rgba(29, 95, 29, 0.3)}
#p4 {background-color: rgba(192,192,192,0.3);}
#p5 {background-color: rgba(255,255,0,0.3);}
#p6 {background-color: rgba(255,0,255,0.3);}
h1 color:blue; font-size:40px
p {font-family;verdana; font-size:20px;}
<style>

</title>head
<body>
h1 color:blue; font-size:40px
<p id="p1">Red</p>
<p id="p2">Green</p>
<p id="p3">Blue</p>
<p id="p4">Grey</p>
<p id="p5">Yellow</p>
<p id="p6">Cerise</p>
div {
  background-color: transparent;
}
</body>
<html></html>
<ul>

    <li>Jaime</li>
    <li>Marc</li>
    <li>Angel</li>

</ul>

{% endblock %}
