{% extends 'base.html' %}

{% block content %}
<h1>Restaurant Recommendations</h1>
<form action="{{ url_for('processing') }}" method="post">
    <label for="r_location">Location of Restaurant:</label>
    <select name="location" id="r_location" required>
        <option disabled selected value>...</option>
        <option value="UP Town Center">UPTC</option>
        <option value="Krus na Ligas">KnL</option>
        <option value="Science Complex">Science Complex</option>
        <option value="Maginhawa">Maginhawa</option>
        <option value="Area II">Area II</option>
    </select><br><br>

    <label for="r_name">Name of Restaurant:</label>
    <input type="text" name="restaurant_name" id="r_name" required>
    <br>
    <br>
    <label for="r_description">Description:</label>
    <input type="text" name="restaurant_description" id="r_description">
    <br>
    <br>
    <label for="r_rating">Rating:</label>
    <input type="number" name="restaurant_rating" id="r_rating">
    <br>
    <br>
    <label for="r_food_type">Food Type:</label>
    <input type="text" name="restaurant_foodtype" id="r_food_type">
    <br>
    <br>
    <label for="r_url">Image URL:</label>
    <input type="url" name="restaurant_url" id="r_url">
    <br>
    <br>
    <label for="r_price_range">Price Range:</label>
    <input type="number" name="restaurant_price_range" id="r_price_range">
    <br>
    <textarea name="restaurant_desc" placeholder="Tell something about the restaurant..." cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Register!">
</form>
{% endblock %}