{% extends 'base.html' %}

{% block content %}
<h1>{{ identification_template.name }}</h1>

<img src="{{ identification_template.image }}">
<p>{{ identification_template.description }}</p>
<p>The current rating of the restaurant is {{ identification_template.rating }}.</p>
<p>The price range of menu is between {{ identification_template.pricerange }}.</p>
<p>Tags {{ identification_template.foodtype }}</p>

<form action="{{ url_for('modify') }}" method="post">
    <input type="hidden" name="resto_id" value="{{ identification_template.id }}">
    <input class="btn btn-secondary" type="submit" name="modify" value="edit"></input>
    <input class="btn btn-danger" type="submit" name="modify" value="delete"></input>
</form>
{% endblock %}