{% extends 'base.html' %}

{% block content %}
<h1>{{ restoid_template }}</h1>
<img src="{{restaurant.url}}">
<p>{{ restaurant.description }}</p>
<p>The current rating of the restaurant is {{ restaurant.rating }}.</p>
<p>The price range of menu is between {{ restaurant.pricerange }}.</p>
<p>Tags {{ restaurant.foodtype }}</p>

<form action="{{ url_for('modify') }}" method="post">
    <input type="hidden" name="resto_id" value="{{ resto.id }}">
    <input class="btn btn-secondary" type="submit" name="modify" value="edit"></input>
    <input class="btn btn-danger" type="submit" name="modify" value="delete"></input>
</form>
{% endblock %}